

.car{
    width: 300px;
    height: 185px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.car ul li{
    list-style: none;
}
.car-title{
    text-align: center;
}

.car-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

button{
    width: 80px;
    font-size: 20px;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    border:none;
}


.delete{
    background-color: red;
}

.delete:hover{
    background-color: rgba(255,0, 0, 0.3);
}

.edit{
    background-color: blue;
}

.edit:hover{
    background-color: rgba(0,0,200,1);
}